html {
  font-family: 'Roboto', sans-serif;
}
.capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.pointer {
  cursor: pointer;
}
.navigation-list {
  color: grey;
}
.navigation-list .md-button {
    color: inherit;
    text-align: left;
    width: 90%;
}
.navigation-list .md-button ng-md-icon{
  color: black;
}
.navigation-list .selected,
.navigation-list .selected ng-md-icon {
  color: rgb(21,101,192);
}
md-toolbar .user {
  font-size: 14px;
}

#log md-datepicker {
  background: transparent;
}
#log .md-datepicker-input {
  font-size: 18px;
  color: white;
}
#dashboard .md-fab{
  color: white;
  line-height: 0px;
}
#log .md-fab{
  color: white;
  top: 15px;
}
#exercises .md-headline,
#log .md-headline {
  display: flex;
}
.exercise-card .step-number {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #AFAFAF;
  color: white;
  text-align: center;
}
.exercise-card .exercise-name {
  padding-left: 5px;
}
.level-completed {
  margin-top: 26px;
  padding-right: 10px;
  height: 40px;
  width: 30px;
  line-height: 15px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #1565C0;
  color: white;
}
.level-completed span {
  margin-left: 10px;
}
.level-completed .level-name {
  margin-top: 5px;
}
.body-part-level > md-list-item > div.md-list-item-text {
  margin-left: 5px;
}
.exercise-card-heading {
  position: relative;
  height: 95px;
  overflow: hidden;
}
.exercise-card-heading .darken-image {
  background-color:  rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.exercise-card-heading .heading-content {
  color: white;
}
.exercise-card-heading .heading-content .body-part-step-highlight {
  background-color: #1565c0;
  text-transform: uppercase;
  bottom: 0px;
  position: absolute;
}
.exercise-card md-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
.exercise-card-tip, .exercise-card-tip-label {
  text-align: center;
}
.exercise-card-tip {

}
.exercise-card-tip-label {
  text-transform: lowercase;
  font-size: 12px;
  color: grey;
}
.dashboard-card .body-part-progress {
  margin-bottom: 10px;
}
.about-splash md-toolbar.md-tall{
  height: 300px;
  min-height: 300px;
}
.about-splash img {
  left: 0px;
  max-width: 100%;
  bottom: 0px;
  position: absolute;
}
ng-md-icon.about-splash  {
  height: 90px;
  width: 90px;
}
md-grid-list img{
  width: auto;
  height: 100%;
}
.about-splash md-grid-list md-grid-tile md-grid-tile-footer{
  background: rgba(0,0,0,.6);
}
md-input-container.no-margin {
  margin: 0px;
}
.exercise-completed {
  color: rgb(21,101,192);
}
.exercise-not-completed {
  color: rgb(21,101,192);
}
.about-splash md-toolbar#mobile-brand.md-tall{
  height: 158px;
  min-height: 158px;
}
.exercise-card md-divider {
  margin-bottom: 15px;
}
/* Routines */
#routines .md-button.md-fab.md-fab-bottom-right {
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}
#routines .add-routine {
  padding: 15px;
}
