<md-dialog ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Goals</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-card layout-padding class="dashboard-card" ng-repeat="goalMet in goalsMet">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Goal Met</span>
          <span class="md-subhead">{{goalMet.body_part}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        {{goalMet}}<br/>
      </md-card-content>
    </md-card>
</md-dialog>
