<md-content layout-padding class="autoScroll">

  <md-input-container class="md-block">
    <ng-md-icon icon="email" ></ng-md-icon>
    <input ng-model="email" type="email" placeholder="Email (required)" ng-required="true">
  </md-input-container>
  <md-input-container class="md-block">
    <ng-md-icon icon="vpn_key" ></ng-md-icon>
    <input ng-model="password" type="password" placeholder="Password (required)" ng-required="true">
  </md-input-container>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ui-sref="login" class="md-raised">Log In</md-button>
    <md-button class="md-raised md-primary"  ng-click="createUser()">Sign Up!</md-button>
  </section>
</md-content>
