<div layout="row" id="exercises" layout-wrap layout-padding layout-sm="row">
  <div flex="100">

    <md-input-container class="md-block no-margin">
      <!-- Use floating placeholder instead of label -->
      <md-icon>
        <ng-md-icon icon="search" ></ng-md-icon>
      </md-icon>
      <input ng-model="searched.$" type="text" placeholder="Search Exercises">
    </md-input-container>
  </div>
  <div flex="100">
    Filters:
  </div>
  <exercise-filter></exercise-filter>
  <div flex="33" flex-md="50" flex-sm="100" flex-xs="100" ng-repeat="exercise in exercises | filter:searched">
    <md-card class="exercise-card">
      <div class="exercise-card-heading" ng-style="{'background':'url(../img/exercises/{{(exercise.body_part | getValById:bodyParts:'$id').type}}/{{exercise.body_part}}/{{exercise.step}}.jpg) no-repeat', 'background-size':'100%', 'background-position':'0px -50px'}">
        <div class="darken-image">
          <div class="heading-content" layout="row" layout-wrap>
            <span flex class="md-display-1" flex="100" ng-cloak title="{{exercise.exercise_name}}" layout-padding>{{exercise.exercise_name}}</span>

            <div flex="100" layout="row">
              <span flex class="md-caption" flex="100" ng-cloak>
                <span class="body-part-step-highlight">
                  {{((exercise.step_id | getValById:exercises:'step_id').body_part | getValById:bodyParts:'$id').name}}: Step {{(exercise.step_id | getValById:exercises:'step_id').step}}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <md-card-content layout-padding>
        <div layout="row">
          <div flex="33">
            <div layout="column">
              <div class="exercise-card-tip md-title" flex ng-hide="!exercise.beg_reps">{{exercise.beg_sets}} x {{exercise.beg_reps}}</div>
              <div class="exercise-card-tip md-title" flex ng-show="!exercise.beg_reps">N/A</div>
              <div class="exercise-card-tip-label md-caption" flex>Beg. Goal</div>
            </div>
          </div>
          <div flex="33">
            <div layout="column">
              <div class="exercise-card-tip md-title" flex ng-hide="!exercise.int_sets">{{exercise.int_sets}} x {{exercise.int_reps}}</div>
              <div class="exercise-card-tip md-title" flex ng-show="!exercise.int_sets">N/A</div>
              <div class="exercise-card-tip-label md-caption" flex>Int. Goal</div>
            </div>
          </div>
          <div flex="33">
            <div layout="column">
              <div class="exercise-card-tip md-title" flex ng-hide="!exercise.goal_sets">{{exercise.goal_sets}} x {{exercise.goal_reps}}</div>
              <div class="exercise-card-tip md-title" flex ng-show="!exercise.goal_sets">N/A</div>
              <div class="exercise-card-tip-label md-caption" flex>Master Goal</div>
            </div>
          </div>

        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-primary" ng-click="showExercise($event, exercise.exercise_name)">Exercise Info</md-button>
      </md-card-actions>
    </md-card>

  </div>
</div>
