<div layout="row" layout-padding layout-wrap>
  <div flex="50" ng-repeat="(key, value) in history | groupBy:'time'">
    <md-card layout-padding class="history-card" >
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ key  | date:'mediumDate'}}</span>
          <span class="md-subhead"></span>
        </md-card-title-text>
      </md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <div ng-repeat="exercise in value">
          <div layout="row">
            <div flex class="md-title">{{ exercise.exercise_name }}</div>
          </div>
          <div layout="row">
            <div flex class="md-caption">Total Sets: {{exercise.sets.length}}</div>
          </div>
          <div layout="row">
            <div flex class="md-caption">
              Total Reps Completed: {{exercise.sets | map:'set_val' | sum}}
            </div>
          </div>
          <div layout="row">
            <div flex class="md-caption">
              Goal Met: {{exercise.goal_met}}
            </div>
          </div>
        </div>

      </md-card-content>
    </md-card>
  </div>
</div>
