<div layout="column">
  <form name='profileForm' ng-submit="saveProfile()">
    <md-content layout-padding class="autoScroll">
      <md-input-container class="md-block">
        <!-- Use floating label instead of placeholder -->
        <label>First Name</label>
        <md-icon>
          <ng-md-icon icon="person"></ng-md-icon>
        </md-icon>
        <input ng-model="user.first_name" type="text">
      </md-input-container>
      <md-input-container class="md-block">
        <!-- Use floating label instead of placeholder -->
        <label>Last Name</label>
        <md-icon>
          <ng-md-icon icon="person_outline"></ng-md-icon>
        </md-icon>
        <input ng-model="user.last_name" type="text">
      </md-input-container>
      <md-input-container class="md-block">
        <!-- Use floating placeholder instead of label -->
        <md-icon>
          <ng-md-icon icon="email"></ng-md-icon>
        </md-icon>
        <input ng-model="user.email" type="email" placeholder="Email" disabled>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-disabled="!profileForm.$dirty" type="submit">Save Changes</md-button>
    </md-content>
  </form>
</div>
